<p id="notice"><%= notice %></p>

<h1>Ipm Suggestions</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ipm_suggestions.each do |ipm_suggestion| %>
      <tr>
        <td><%= ipm_suggestion.title %></td>
        <td><%= ipm_suggestion.description %></td>
        <td><%= ipm_suggestion.icon %></td>
        <td><%= link_to 'Show', ipm_suggestion %></td>
        <td><%= link_to 'Edit', edit_ipm_suggestion_path(ipm_suggestion) %></td>
        <td><%= link_to 'Destroy', ipm_suggestion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ipm Suggestion', new_ipm_suggestion_path %>
