<%= form_for [:admin, @article], html: {class: 'form-horizontal'} do |f| %>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @article.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Naslov članka:', class:'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= f.text_field :title, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Opis:', class:'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= f.text_area :description, rows:'10', class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Slika:', class:'col-sm-2 control-label' %><br>
    <div class="col-sm-10">
      <%= f.file_field :image, class:'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit 'Shrani', class:'btn btn-default' %>
      <%= link_to 'Prekliči', '/admin', class:'btn btn-danger' %>
    </div>
  </div>
<% end %>
