<div class="testimonial-show">
  <small><%= link_to '< Nazaj ', admin_testimonials_path, class:"back-link" %> | <%= link_to 'Uredi', edit_admin_testimonial_path(@testimonial), class:"back-link" %></small>
    <p>
      <strong>Ime:</strong><small> <%= @testimonial.first_name %></small><br>
      <strong>Priimek:</strong><small> <%= @testimonial.last_name %></small><br>
      <strong>Ime podjetja:</strong><small> <%= @testimonial.company_name %></small>
    </p>
    <p>
      <strong>Citat:</strong> <br>
      <em>"<%= @testimonial.description %>"</em>
    </p>
</div>
