<!DOCTYPE html>
<html>
  <head>
    <title>Pkp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PKP Admin - <%= current_admin.email %></a>
        </div>
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if params[:controller] == 'admin/articles' %>"><%= link_to 'Članki', '/admin' %></li>
          <li class="<%= 'active' if params[:controller] == 'admin/testimonials' %>"><%= link_to 'Citati', admin_testimonials_path %></li>
          <li><a href="#">Predlogi</a></li>
          <li><a href="#">Page 3</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to('Odjavi se', destroy_admin_session_path, :method => :delete, class:'logout-link') %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <p id="notice"><%= notice %></p>
      <%= yield %>
    </div>
  </body>
</html>
