<!DOCTYPE html>
<html>
  <head>
    <title>Pkp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Monsterrat:400,700|Merriweather:400,300italic,700' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'favicon.png' %>
  </head>

  <body>
    <nav class="fh5co-nav-style-1" role="navigation" data-offcanvass-position="fh5co-offcanvass-left">
        <div class="container">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 fh5co-logo">
            <a href="#" class="js-fh5co-mobile-toggle fh5co-nav-toggle"><i></i></a>
            <%= link_to "PKP", root_path %>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-9 text-right fh5co-link-wrap">
            <ul data-offcanvass="yes">
              <li class="<%= 'active' if params[:controller] == 'ipm_suggestions' %>"><%= link_to "Top IP predlogi", ipm_suggestions_path %></li>
              <li class="dropdown <%= 'active' if params[:controller] == 'ipr_tad_usage' %>">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Orodje
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Uporaba IPR Tad tabele", ipr_tad_usage_path %></li>
                  <li><%= link_to "IPR Tad tabela", activity_table_path %></li>
                </ul>
              </li>
              <li class="<%= 'active' if params[:controller] == 'articles' %>"><%= link_to "Prispevki", articles_path %></li>
              <li><%= link_to "Poročilo", report_path %></li>
              <li><%= link_to "O Projektu", about_project_path, class:'call-to-action' %></li>
            </ul>
          </div>
        </div>
      </nav>


      <%= yield %>

      <div class="fh5co-footer-style-3">
        <div class="container">
          <div class="row p-b">
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
              <div class="fh5co-logo"><span class="logo">P</span>PKP</div>
              <p class="fh5co-copyright">&copy; 2017 Pkp. <br>Vse pravice pridržane. <br>Developed by <a href="https://www.linkedin.com/in/iztok-mocivnik-b93053114/" target='_blank'>@IM</a><br>
                Images: <a target="_blank" href="http://unsplash.com/">Unsplash</a></p>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay=".8s">
              <h3>Links</h3>
              <ul class="fh5co-links">
                <li><%= link_to "Predlogi", ipm_suggestions_path %></li>
                <li><%= link_to "IPR Tad tabela", ipr_tad_usage_path %></li>
                <li><%= link_to "Prispevki", articles_path %></li>
                <li><%= link_to "Poročilo", report_path %></li>
              </ul>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.1s">
              <h3>FIŠ</h3>
              <ul class="fh5co-links fh5co-social">
                <li><a href="http://www.fis.unm.si/si/" target="_blank"><i class="icon fa fa-university"></i> FIŠ</a></li>
                <li><a href="https://www.facebook.com/referat.fis" target="_blank"><i class="icon fa fa-facebook"></i> Facebook</a></li>
                <li><a href="https://twitter.com/fisnm" target="_blank"><i class="icon fa fa-twitter"></i> Twitter</a></li>
                <li><a href="https://www.instagram.com/fis.nm/" target="_blank"><i class="icon fa fa-instagram"></i> Instagram</a></li>
              </ul>
            </div>
            <div class="col-md-3 col-sm-6 fh5co-footer-widget wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.4s">
              <h3>O Projektu</h3>
              <p>Projekt je financiran s strani: Ministrstvo za izobraževanje, znanost in šport Republike Slovenije, Javni štipendijski, razvojni, invalidski in preživninski sklad Republike Slovenije in Evropski socialni sklad Evropske unije. </p>
              <%= link_to "Preberi Več", about_project_path, class:'btn btn-success btn-sm btn-outline' %>
            </div>
            <div class="clearfix visible-sm-block"></div>
          </div>
          <div class="row fh5co-made">
            <div class="col-md-12 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
              <%= image_tag 'pkplogo.png' %>
            </div>
          </div>
        </div>
      </div>
      <!-- END footer -->
    <script>
  		new WOW().init();
  	</script>
  </body>
</html>
